# ignore the Google Firebase plist file because it contains
# private login information for my account.  Anyone wanting
# to use this code needs to create their own Firebase plist
GoogleService-Info.plist